version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: speechshield_frontend
    restart: always
    ports:
      - "3000:80"
    networks:
      - network_service

networks:
  network_service:
    external: true
