.container {
    width: 100%;
    background: transparent;
}

.wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

.title {
    font-family: "Jura", sans-serif;
    font-size: 44px;
    font-weight: 600;
    color: rgba(69, 59, 108, 1);
    margin-bottom: 50px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.rowBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 200px;
}

.step {
    padding: 30px;
    border-radius: 20px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.stepPurple {

    background: linear-gradient(125deg,rgba(231, 229, 254, 1) 40%, rgba(114, 73, 225, 1) 180%);
    border: 1px solid rgba(114, 73, 225, 1);
}

.stepGreen {

    background: linear-gradient(125deg,rgba(229, 254, 247, 1) 40%, rgba(8, 211, 89, 1) 180%);
    border: 1px solid rgba(8, 211, 89, 1);
}

.stepTitle {
    font-family: "Jura", sans-serif;
    font-size: 28px;
    font-weight: 600;
   color:rgba(69, 59, 108, 1);
    line-height: 100%;
}

.stepDescription {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(69, 59, 108, 1);

}

/* Адаптивность для планшетов */
@media (max-width: 1024px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .rowBottom {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
}

/* Адаптивность для мобильных */
@media (max-width: 640px) {
    .wrapper {
        padding: 40px 16px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 15px;
        text-align: center;
    }

    .grid {
        gap: 20px;
    }

    .row {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .rowBottom {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .step {
        padding: 16px;
        min-height: 105px;
    }

    .stepTitle {
        font-size: 20px;

    }

    .stepDescription {
        font-size: 15px;
    }
}